.infobox {
  flex: 1;
  cursor: pointer;
}

.infobox:not(:last-child) {
  margin-right: 15px;
}

.infobox--selected {
  border-top: 3px solid yellowgreen;
}
.infobox--red {
  border-color: #cc1043;
}

.infobox__cases {
  color: #cc1043 !important;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: 0.5rem !important;
}
.infoBox__cases__green {
  color: yellowgreen !important;
}
.infobox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
